@import "tailwindcss";

:root {
  --background-dark: #cbcbcb;
  --background-light: #000000;
}

body {
  background-color: var(--background-light);
}

.dark body {
  background-color: var(--background-dark);
}

.round-bg{
  @apply p-1 rounded-full transition-colors hover:scale-90;
}